@import "materialize";
@import "color";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans&display=swap');

body{
  background-color:#FCFAFA;
  font-family: 'Open Sans', sans-serif;

  .ui-timepicker-standard{
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    border: 0px;
    margin-top: 5px;
    font-size: 14px;
    .ui-state-hover{
      border:1px solid transparent;
    }
  }

  .show-on-small{
    display: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $secondary-color;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $secondary-color;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $secondary-color;
  }
  input, input:focus{
    border-bottom: 0 !important;
    box-shadow: 0 0 0 0 !important;
  }

  #dropdown1{
    padding:15px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    a{
      line-height: 40px;
      &:hover{
        background-color: transparent;
        color:black;
      }
    }
  }

  .carousel .indicators .indicator-item{
    background-color: rgba(0,0,0,0.4);
  }
  .carousel .indicators .indicator-item.active{
    background-color: black;
  }

  #dropdown2{
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    li{
      min-height: 0;
      a{
        color: rgb(156, 170, 173);
        font-size:15px;
        padding:10px 15px;
      }
      &:hover{
        background-color: transparent;
        a{
          color:black;
          background-color: transparent;
        }
      }
    }
  }

  .payment-error{
    margin-top:100px;
    &>div{
      background-color: #efe2e2;
      padding:20px 20px 40px 30px;
      border-radius:10px;
    }
    min-height: 60vh;
  }

  .payment-success{
    margin-top:100px;
    &>div:first-child{
      background-color: #e3efe2;
      padding:20px 20px 40px 30px;
      border-radius:10px;
    }
    .payment-details-tag{
      padding:40px 20px 0 30px;
      color:gray;
    }
    .payment-details{
      padding:20px 20px 20px 30px;
      line-height: 28px;
      div{
        flex-grow: 1;
      }
    }
    min-height: 60vh;
  }

  .edit-profile{
    margin-top:100px;
    margin-bottom:100px;
    .profile-pic-edit{
      img{
        height:200px;
        border-radius: 50%;
      }
    }
    #modal2{
      width:35%;
      .mob-num input{
        border: 1px solid #9f9f9f !important;
        padding:5px 10px;
        border-radius: 5px;
        margin-bottom: 0;
      }
    }
  }

  .faq{
    padding-top: 40px;
    padding-bottom:200px;
    h4{
      text-align: center;
      padding:120px 0;
      margin-bottom:100px;
      background-color: white;
    }
    div{
      line-height: 30px;
    }
    ul li{
      margin-left:30px;
      list-style-type: disc;
    }
    div div{
      font-weight: bold;
      margin-bottom:20px;
      margin-top:60px;
      &:before{
        content:'Q.';
        margin-left:-26px;
        margin-right:10px;
      }
    }
  }

  .t-c{
    padding-top:150px;
    h4{
      margin-bottom:80px;
    }
    div{
      margin-bottom:150px;
      line-height: 30px;
      text-align: justify;
      span{
        background-color: yellow;
      }
      strong{
        font-weight: bold;
      }
    }
  }

  .sidenav{
    padding-top:50px;
  }
  .nav-wrapper{
    .select-wrapper{
      float: right;
      width: 80px;
      .select-dropdown.dropdown-trigger{
        vertical-align: -46px;
        margin-top: 6px;
        color:white;
      }
      .dropdown-content{
        top:56px !important;;
      }
      svg{
        fill:white;
      }
    }
    a.profile-pic{
      height:64px;
      &:hover{
        background-color: transparent;
      }
      .sidenav-trigger{
        color:white;
      }
    }
  }

  nav{
    top:0;
    position: fixed;
    background-color: #000000;
    z-index: 99;

    .profile-pic{
      img{
        border-radius: 50%;
        height:50px;
        padding-top:10px;
      }
    }
    .brand-logo{
      padding:4px 20px 0 20px;
    }
    .hide-on-med-and-down{
      li a{
        color:$darkbg-text-color;
      }
      li:last-child a{
          color: white;
      }
    }
  }





  .modal{
    width:90%;
    border-radius: 10px;
    background-color: #F1F1F1;
    .terms{
      font-size: 12px;
      color:$secondary-color;
      a{
        color:black;
      }
    }
    .modal-close{
      line-height: 25px;
      opacity: 0.6;
      &:hover{
        opacity: 1;
      }
    }
    .btn{
      box-shadow: none;
      background-color: $primary-color;
      padding:10px 20px;
      height:auto;
    }
    .social{
      justify-content: space-between;
      margin-top:10px;
      align-items: center;
      a{
        display: inline-block;
      }
      img{
        margin-left:30px;
        margin-top: 25px;
      }
    }
    h4{
      margin-bottom:40px;
    }
    .mob-num{
      width:100%;
      margin-top:20px;
      background-color: white;
      -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
      -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
      box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
      align-items: center;
      i{
        margin-right:10px;
        color:#6E8387;
      }
      input{
        margin-bottom: 0;
      }
    }
  }




  .history{
    margin-top:100px;
    #test1,#test2{
      margin-top:40px;
      &>.row{
        background-color:white;
        position: relative;
        margin-top: 20px;
        border-radius: 10px;
        .col{
          padding:0;
          .history-details{
            margin-left:20px;
            margin-top:15px;
            div:not(:first-child){
              font-size: 14px;
              color: #a1a1a1;
            }
          }
        }
        img{
          margin-bottom:-5px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        .pending{
          position:absolute;
          bottom:10px;
          right:15px;
          opacity: 0.6;
        }
      }
    }
  }
  .bg.bg2{
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-position: right;/*
    .search-box{
      background-color: transparent;
      box-shadow: none;
      a{
        padding:15px 20px;
        box-shadow: none;
        &:hover{
          -webkit-box-shadow:0px 8px 20px 0px rgba(0, 172, 30, 0.2);
          -moz-box-shadow:0px 8px 20px 0px rgba(0, 172, 30, 0.2);
          box-shadow:0px 8px 20px 0px rgba(0, 172, 30, 0.2);
        }
      }
      .btn:first-child{
        background-color: #00E82A;
        margin-right:20px;
      }
      .btn:last-child{
        border:2px solid #00E82A;
        background-color: transparent;
      }
    }*/
  }
  .bg{
    //margin-top:60px;
    height:60vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
    .container.flex{
      align-items: center;
      height: 100%;
    }/*
    .search-box{
      margin-top:50px;
      background-color: white;
      -webkit-box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      -moz-box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      a{
        color:black;
        height: 100%;
        display: block;
        padding: 25px;
        i{
          vertical-align: -5px;
        }
      }
      .search-area{
        padding:15px 0;
        .show-on-small-custom{
          display: none;
        }
        input{
          margin-bottom: 0;
          border-left:1px solid #E1E1E1;
          padding-left:20px;
          font-size: 1.15rem;
        }
      }
    }*/
  }

  .categories{
    background-color: white;
    padding-bottom: 50px;
    .row{
      padding-top:50px;
      .col{height:130px;
      }
    }
    text-align: center;
    img{
      height: 50px;
      display: block;
      margin: auto auto 10px auto;
      opacity: 0.7;
    }
    a{
      display: block;
      color:$secondary-color;
      &:hover img{
        opacity: 1;
      }
      &:hover{
        color:black;
      }
    }
  }

  .discount-banner{
    margin-top:70px;
    padding:50px 0;
    background-color: #f5f6fa;
    img{
      max-width:1200px;
      width:100%;
      &.hide-on-med-and-up{
        max-width: 400px;
      }
    }

    .search-box{
      position:absolute;
      z-index: 10;
      top:350px;
      margin-top:50px;
      background-color: white;
      -webkit-box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      -moz-box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      width:450px;
      &>div:first-child a{
        display:flex
      }
      a{
        color:black;
        height: 100%;
        display: block;
        padding: 25px;
        i{
          vertical-align: -5px;
        }
      }
      .search-area{
        padding:15px 0;
        .show-on-small-custom{
          display: none;
        }
        input{
          margin-bottom: 0;
          border-left:1px solid #E1E1E1;
          padding-left:20px;
          font-size: 1.15rem;
        }
      }
    }
  }

  .how-works{
    .container{
      padding: 200px 0;
      text-align: center;
    }
    .steps-subtext{
      margin:0 100px;
      justify-content: space-between;
      font-size: 14px;
      opacity: 0.7;
      div{
        flex-basis: 20%;
        text-align: center;
      }
    }
    .steps-subtext.steps-subtext2{
      margin:0;
    }
    .flex.illus{
      margin:100px 100px 10px 100px;
      justify-content: space-between;
      .steps{
        flex-basis: 18%;
        padding:30px 0;
        background-color: white;
        img{
          margin: 0 auto 30px auto;
          display: block;
          height:60px;
        }
        div{
          color: #9b9b9b;
        }
      }
    }
    .flex.illus2{
      margin:100px 0 10px 0;
      justify-content: space-around;
      .steps{
        padding:30px 10px;
      }
    }
  }

  .about-us{
    .container{
      .border{
        width: 100%;
        margin: auto;
        border-top:1px solid $border-color;
      }
      .flex{
        margin:200px 0;
        justify-content: space-between;
        .about-us-text{
          h5{
            margin-bottom: 20px;
          }
          flex: 0 0 70%;
          .btn-flat{
            padding:0;
            margin-top:20px;
            color:#198400;
            i{
              vertical-align:-5px;
            }
          }
        }
        .about-us-img{
          flex: 0 0 20%;
        }
      }
    }
    img{
      width:100%;
    }
  }

  .features{
    margin-bottom:150px;
    .flex{
      .top-col{
        padding: 50px 50px 50px 0;
        flex-basis: 50%;
        background-color: white;
        &:hover{
          -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
          -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
          box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
        }
        .feature-img{
          text-align: center;
          flex-basis: 40%;
          img{
            height:80px;
          }
        }
        .feature-text{
          flex-basis: 60%;
          div:first-child{
            font-family: 'Merriweather', serif;
            font-weight: 700;
            margin-bottom:5px;
          }
        }
      }
    }
  }

  .mobile-bg{
    background-image: url("../img/mobileapp.png");
    background-repeat: no-repeat;
    background-position: center;
    height:45vh;
    text-align: right;
    color:white;
    display: flex;
    align-items: center;
    a{
      padding:0;
      background-color: transparent;
      border-radius: 8px;
      height:60px;
      img{
        height:100%;
      }
    }
  }

  .ratings{
    margin-top:80px;
    margin-bottom:80px;
    h4{
      margin:0;
    }
    .flex{
      div{
        text-align: center;
        flex-basis: 33.33%;
      }
    }
  }

  .testimonials{
    background-color: #D5E5E8;
    padding:100px 0;
    h5{
      text-align: center;
      margin-bottom:50px;
    }
    .carousel{
      height:100px !important;
      .carousel-fixed-item{
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
      }
      i{
        font-size: 60px;
        cursor:pointer
      }
      .carousel-item{
        padding:0 100px;
        div{
          font-weight: bold;
        }
      }
    }
  }

  .service-detail{
    padding-top: 100px;
    .head{
      justify-content: space-between;
      margin: 0 20px 30px 0;
      .flex{
        align-items: center;
      }
      .back{
        color:black;
        margin-right:10px;
        border-radius: 30px;
        height:50px;
        width:50px;
        display: block;
        padding: 13px 0 0 13px;
        &:hover{
          background-color: rgba(0,0,0,0.1);
        }
      }
      .service-category{
        font-size: 12px;
        color:$secondary-color;
      }
      .service-name{
        font-size: 26px;
        font-weight: bold;
       }
      .btn{
        background-color: $primary-color;
        box-shadow: none;
        padding:15px 20px;
        display: block;
        height: auto;
        margin-left:50px;
      }
      .btn-next{
        padding:15px 35px;
      }
      .service-price{
        font-size: 26px;
        font-weight: bold;
        color: $text-secondary;
      }
    }

    .service-ratings{
      padding:60px 20px 0 0;
      border-top: 1px solid $border-color;
      .step3-timeselect{
        .padding-select{
          display: inline-flex;
        }
        ul li{
          margin-bottom:0 !important;
        }
      }
      .service-detail-container{
        justify-content: space-between;
        & > div{
          flex-basis: 50%;
        }
        .service-bookings,.service-stars{
          text-align: center;
          border:1px solid $border-color;
          padding:20px 10px;
          height:100px;
          flex-basis: 50%;
          margin-left:20px;
          border-radius: 15px;
          .service-booking-number{
            font-size: 2em;
          }
          .service-rating-stars{
            margin-top:5px;
          }
        }
      }
      .service-features{
        .datepicker,.timepicker{
          background-color: rgba(0,0,0,0.1);
          border-radius: 10px;
          padding-left:10px;
          margin-left:10px;
          width:60px;
        }
        .timepicker{
          width:100px;
        }
        ul{
          margin-top:0;
          margin-left:50px;
          li{
            list-style-type: disc;
            margin-bottom:20px;
          }
        }
        .datepicker-table td.is-today{
          color: #00aa1a;
        }
        .datepicker-table td.is-selected{
          background-color: #00E824;
          color:black;
        }
        .datepicker-cancel,.datepicker-done,.timepicker-close,{
          color:#00aa1a;
        }
        .datepicker-date-display,.timepicker-digital-display,{
          background-color: black;
        }
        .timepicker-canvas-bg,.timepicker-canvas-bearing{
          fill:#00E824;
        }
        .timepicker-canvas line{
          stroke:#00E824
        }
      }
    }
  }


  .service-address{
    margin-top:50px;
    .add-new-address,.address-block{
      padding:10px;
      &>div{
        border-radius: 10px;
        &:hover{
          cursor:pointer;
        }
      }
      #modal-address{
        background-color: #F1F1F1;
        text-align: left;
        .location-radio{
          p{
            display: inline-block;
            span{
              padding:5px 20px 5px 30px;
              &:before,&:after{
                top:5px;
              }
            }
          }
        }
        .modal-close{
          line-height: 25px;
          opacity: 0.6;
          font-size: 24px;
        }
        .btn{
          box-shadow: none;
          background-color: $primary-color;
          padding:10px 20px;
          height:auto;
          margin-top:10px;
        }
        .city-select{
          background-color: white;
          svg{
            right:7px;
          }
          input{
            padding:7px 0 10px 15px;
            width: calc(100% - 15px);
            margin-right:20px;
          }
        }
        .flex{
          .input-field{
            flex-grow:1;
            margin-top:0;
            margin-bottom:0;
          }
          .input-field:first-child{
            margin-right: 15px;
          }
        }
        .input-field:not(.city-select){
          & > label:not(.label-icon).active{
            transform: translateY(-2px) scale(0.8);
          }
          background-color: white;
          padding:15px 10px 0 20px;
          label{
            left:20px;
            top:10px;
          }
        }
      }
    }
    .add-new-address{
      text-align: center;
      &>a{
        color:black;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        border: 1px solid $border-color;
        height:174px;
      }
      i{
        font-size: 3em;
      }
    }
    .address-block{
      &>div{
        background-color:rgba(255,255,255,0.7);
      }
      label{
        width:100%;
        display: block;
        .with-gap:checked + span:before{
          border:2px solid #26a69a;
        }
        span{
          display: block;
          height: 100%;
          font-size:16px;
          padding:20px 20px 10px 45px;
          &:before,&:after{
            left: 15px;
            top: 20px;
          }
          &:before{
            border:2px solid #a3a3a3;
          }
        }
        div{
          margin-left:-30px;
          opacity: 0.8;
          i{
            height:30px;
            margin-right:10px;
            margin-top:2px;
          }
          p{
            display: block;
          }
          margin-top:15px;
          font-size: 14px;
        }
      }
    }
    .address-block.active{
      span{
        color:black;
      }
      div{
        color:black;
      }
    }
    .active{
      &>div{
        background-color: white;
        -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.11);
        box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.11);
      }
    }
  }

  .services{
    padding-top:120px;
    .flex:not(.collapsible-header){
      border-bottom: 1px solid $border-color;
      margin-bottom:40px;
    }
    .flex{
      .guarantee,.discount{
        flex-basis: 25%;
        padding:30px;
        color:white;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        margin-bottom:50px;
        div:first-child{
          font-size: 14px;
        }
        div:last-child{
          font-size: 24px;
          font-weight: bold;
        }
      }
      .guarantee{
        background-color: #00BB22;
        background-image: url("../img/guarantee-bg.png");
      }
      .discount{
        margin-left:40px;
        background-color: black;
        background-image: url("../img/discount.png");
      }
    }
    .collapsible{
      box-shadow:none;
      border:0;
      padding-right:35px;
    }
    .recently-added{
      margin-left:20px;
      padding-left:30px;
      border-left:1px solid #C8D3D5;
      h6{
        margin-left:10px;
        margin-bottom:15px;
      }
      .service-card{
        background-color: white;
        padding:10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
        margin-bottom:20px;
        img{
          border-radius: 6px;
          width:100%;
        }
        div{
          font-size: 12px;
          color: #a1a1a1;
        }
      }
    }
    .collapsible li{
      margin-top:20px;
      border-radius: 10px;
      -webkit-box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.05);
      box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.05);

    }
    .collapsible-header{
      align-items: center;
      padding:0;
      border-radius: 10px;
      .service-subtext{
        font-size: 12px;
        color: #a1a1a1;
      }
      img{
        margin-right:20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      i{
      margin-left:auto;
      }
    }
    .collapsible-body{
      padding:0;
      a{
        justify-content: space-between;
        display:flex;
        padding:25px;
        color:black;
        .price{
          color:$text-secondary;
          font-weight: 700;
        }
        &:hover{
          background-color: rgba(0,0,0,0.05);
        }
      }
      a:not(:first-child){
        border-top:1px solid $border-color;
      }
    }
  }

  footer{
    padding-top:50px;
    background-color: #1A181B;
    color:#8B898A;
    font-size: 14px;
    .footer-categories{
      flex-basis: 20%;
      a{
        color:#8B898A;
        display: block;
        padding:15px 0;
        &:hover{
          color:white;
        }
      }
    }
    .footer-footer{
      margin-top:20px;
      padding: 30px 0;
      border-top: 1px solid #464546;
      justify-content: space-between;
      .flex{
        align-items: center;
        a{
          padding:0 10px;
          color:#8B898A;
          img{
            height:20px;
          }
          &:hover{
            color:white;
          }
        }
        .social a{
          opacity: 0.6;
          img{height:20px;}
          &:hover{
            opacity:1;
          }
        }
      }
    }
  }

  h3{
    margin:0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  h2,h5,h4{
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .flex{
    display: flex;
  }
}



@media only screen and (max-width: 992px) {
  body{
    .discount-banner{
      .search-box{
        top:280px;
      }
    }
    .service-detail{
      .service-ratings{
        .service-detail-container{
          flex-wrap: wrap;
          & > div{
            flex: 0 0 100%;
          }
          & > .flex{
            flex-wrap: wrap;
          }
          .service-bookings,.service-stars{
            flex: 0 0 100%;
            margin-bottom:20px;
          }
        }
      }
      .service-address{
        .add-new-address a{
          height:170px;
        }
      }
      .address-block>div{
        min-height: 170px;
      }
    }
    .services{
      .flex{
        .guarantee,.discount{
          flex-basis: 50%;
        }
      }
    }
    .how-works{
      .flex.illus2{
        flex-wrap: wrap;
        .steps{
          margin-top:20px;
          flex-basis: 30%;
          flex-shrink: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body{
    .discount-banner{
      .search-box{
        top:600px;
        width:90%;
      }
    }

    .service-detail{
      .head{
        margin: 0 0 30px 0;
        .service-name{
          font-size: 20px;
        }
        .back{
          padding:8px 0 0 7px;
          margin-right:10px;
          width:40px;
          height:40px;
        }
        & > .flex:nth-child(2){
          flex-basis: 30%;
          flex-wrap: wrap;
          & > div,a{
            flex: 0 0 100%;
          }
          a{
            margin-left:0;
          }
          & > div{
            text-align:right;
          }
          .service-category{
            display: none;
          }
        }
        .service-price{
          font-size: 18px;
          margin-right:5px;
        }
        .btn{
          padding: 5px;
        }
      }

      .service-ratings{
        padding:40px 0 0 0;
        .service-detail-container{
          .service-features{
            margin-top:15px;
            ul{
              margin-left:35px;
            }
          }
          .service-bookings,.service-stars{
            margin-left:0;
          }
        }
      }

      .service-address{
        .address-block{
          margin-left:0;
          margin-top:20px;
        }
      }
    }
    nav{
      .brand-logo{
        left:40px;
        transform: none;
        img{
          height:25px;
        }
      }
      .dropdown-trigger{
        font-size: 16px;
        padding-right:10px;
      }
      #location-mobile{
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
        a{
          color:black;
        }
      }
      .modal{
        width:95%;
      }
    }
    .testimonials{
      .container{
        width:96%;
      }
      .carousel{
        height:210px !important;
        .carousel-item{
          padding:0 50px;
        }
      }
    }
    .bg{
      background-color: #F4F6F8;
      height:500px;
      background-image: none;
      h6{
        margin-top:20px;
      }
      .search-box .search-area{
        display: flex;
        input{
          border-left:0;
        }
        .show-on-small-custom{
          display: inline-block;
          font-size: 30px;
          padding-left: 15px;
          padding-top: 7px;
        }
      }
    }
    .bg.bg2{
      background-image: none;
    }
    .features{
      .flex{
        flex-wrap: wrap;
        .top-col{
          flex-shrink: 0;
          flex-basis: 100%;
        }
        .top-col:nth-child(2){
          margin-top:20px;
          margin-left:0 !important;
        }
      }
    }

    .discount-banner{
      padding-bottom:100px;
    }
    #discount-banner-carousel{
      height:500px !important;
    }

    .how-works{
      .container{
        padding:120px 0;
      }
      .flex.illus{
      margin:30px 0 0 0;
        flex-wrap: wrap;
        .steps{
          margin-top:20px;
          flex-basis: 48%;
          flex-shrink: 0;
        }
      }
      .steps-subtext{
        margin: 0;
      }
    }
    footer{
      .flex{
        flex-wrap: wrap;
        .footer-categories{
          flex-basis: 50%;
          flex-shrink: 0;
        }
      }
    }
    .ratings{
      .flex{
        flex-wrap: wrap;
        div{
          flex: 0 0 100%;
        }
        div:not(:first-child){
          margin-top:50px;
        }
      }
    }
    .about-us{
      .container{
        .flex{
          margin:120px 0;
          flex-wrap: wrap;
          .about-us-text{
            margin-top:50px;
            flex: 0 0 100%;
            order:2;
          }
          .about-us-img{
            order:1;
            flex:0 0 50%;
          }
        }
      }
    }

    .services {
      .flex:not(.collapsible-header) {
        flex-wrap: wrap;
        padding-bottom:30px;
        .guarantee, .discount {
          flex-basis: 100%;
          margin-left:0;
          margin-bottom:30px;
        }
      }
      .recently-added{
        border-left:0;
        padding-left:0;
        margin-top:40px;
      }
    }
  }
}