@import "materialize";
@import "color";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans&display=swap');

body{
  background-color:#FCFAFA;
  font-family: 'Open Sans', sans-serif;

  .show-on-small{
    display: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $secondary-color;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $secondary-color;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $secondary-color;
  }
  input, input:focus{
    border-bottom: 0 !important;
    box-shadow: 0 0 0 0 !important;
  }

  #dropdown1{
    padding:15px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
    a{
      line-height: 40px;
      &:hover{
        background-color: transparent;
        color:black;
      }
    }
  }

  .faq{
    padding-top: 40px;
    padding-bottom:200px;
    h4{
      text-align: center;
      padding:120px 0;
      margin-bottom:100px;
      background-color: white;
    }
    div{
      line-height: 30px;
    }
    ul li{
      margin-left:30px;
      list-style-type: disc;
    }
    div div{
      font-weight: bold;
      margin-bottom:20px;
      margin-top:60px;
      &:before{
        content:'Q.';
        margin-left:-26px;
        margin-right:10px;
      }
    }
  }

  .t-c{
    padding-top:150px;
    h4{
      margin-bottom:80px;
    }
    div{
      margin-bottom:150px;
      line-height: 30px;
      text-align: justify;
      span{
        background-color: yellow;
      }
      strong{
        font-weight: bold;
      }
    }
  }

  .sidenav{
    padding-top:50px;
  }

  nav{
    top:0;
    position: fixed;
    background-color: #000000;
    z-index: 99;
    .sidenav-trigger{
      color:white;
    }
    .brand-logo{
      padding:4px 20px 0 20px;
    }
    .hide-on-med-and-down{
      li a{
        color:$darkbg-text-color;
      }
      li:last-child a{
          color: white;
      }
    }
    .modal{
      width:40%;
      border-radius: 10px;
      background-color: #F1F1F1;
      .terms{
        font-size: 12px;
        color:$secondary-color;
        a{
          color:black;
        }
      }
      .modal-close{
        line-height: 25px;
        opacity: 0.6;
        &:hover{
          opacity: 1;
        }
      }
      .btn{
        box-shadow: none;
        background-color: $primary-color;
        padding:10px 20px;
        height:auto;
      }
      .social{
        justify-content: space-between;
        margin-top:10px;
        align-items: center;
        a{
          display: inline-block;
        }
        img{
          margin-left:30px;
          margin-top: 25px;
        }
      }
      .mob-num{
        width:100%;
        margin-top:50px;
        background-color: white;
        -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
        -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
        align-items: center;
        i{
          margin-right:10px;
          color:#6E8387;
        }
        input{
          margin-bottom: 0;
        }
      }
    }
  }
  
  .bg{
    margin-top:60px;
    height:60vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
    .container.flex{
      align-items: center;
      height: 100%;
    }
    .search-box{
      margin-top:50px;
      background-color: white;
      -webkit-box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      -moz-box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      box-shadow: 0 8px 13px 0 rgba(0,0,0,0.05);
      a{
        color:black;
        height: 100%;
        display: block;
        padding: 25px;
        i{
          vertical-align: -5px;
        }
      }
      .search-area{
        padding:15px 0;
        .show-on-small-custom{
          display: none;
        }
        input{
          margin-bottom: 0;
          border-left:1px solid #E1E1E1;
          padding-left:20px;
          font-size: 1.15rem;
        }
      }
    }
  }

  .categories{
    background-color: white;
    padding-bottom: 50px;
    .row{
      padding-top:50px;
      .col{height:130px;
      }
    }
    text-align: center;
    img{
      height: 50px;
      display: block;
      margin: auto auto 10px auto;
      opacity: 0.7;
    }
    a{
      display: block;
      color:$secondary-color;
      &:hover img{
        opacity: 1;
      }
      &:hover{
        color:black;
      }
    }
  }

  .how-works{
    .container{
      padding: 200px 0;
      text-align: center;
    }
    .steps-subtext{
      margin:0 100px;
      justify-content: space-between;
      font-size: 14px;
      opacity: 0.7;
      div{
        flex-basis: 20%;
        text-align: center;
      }
    }
    .flex.illus{
      margin:100px 100px 10px 100px;
      justify-content: space-between;
      .steps{
        flex-basis: 20%;
        padding:30px 0;
        background-color: white;
        img{
          margin: 0 auto 30px auto;
          display: block;
          height:60px;
        }
      }
    }
  }

  .about-us{
    .container{
      .border{
        width: 100%;
        margin: auto;
        border-top:1px solid $border-color;
      }
      .flex{
        margin:200px 0;
        justify-content: space-between;
        .about-us-text{
          h5{
            margin-bottom: 20px;
          }
          flex: 0 0 70%;
          .btn-flat{
            padding:0;
            margin-top:20px;
            color:#198400;
            i{
              vertical-align:-5px;
            }
          }
        }
        .about-us-img{
          flex: 0 0 20%;
        }
      }
    }
    img{
      width:100%;
    }
  }

  .features{
    margin-bottom:150px;
    .flex{
      .top-col{
        padding: 50px 50px 50px 0;
        flex-basis: 50%;
        background-color: white;
        &:hover{
          -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
          -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
          box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
        }
        .feature-img{
          text-align: center;
          flex-basis: 40%;
          img{
            height:80px;
          }
        }
        .feature-text{
          flex-basis: 60%;
          div:first-child{
            font-family: 'Merriweather', serif;
            font-weight: 700;
            margin-bottom:5px;
          }
        }
      }
    }
  }

  .mobile-bg{
    background-image: url("../img/mobileapp.png");
    background-repeat: no-repeat;
    background-position: center;
    height:45vh;
    text-align: right;
    color:white;
    display: flex;
    align-items: center;
    a{
      padding:0;
      background-color: transparent;
      border-radius: 8px;
      height:60px;
      img{
        height:100%;
      }
    }
  }

  .ratings{
    margin-top:80px;
    margin-bottom:80px;
    h4{
      margin:0;
    }
    .flex{
      div{
        text-align: center;
        flex-basis: 33.33%;
      }
    }
  }

  .testimonials{
    background-color: #D5E5E8;
    padding:100px 0;
    h5{
      text-align: center;
      margin-bottom:50px;
    }
    .carousel{
      height:100px !important;
      .carousel-fixed-item{
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
      }
      i{
        font-size: 60px;
        cursor:pointer
      }
      .carousel-item{
        padding:0 100px;
        div{
          font-weight: bold;
        }
      }
    }
  }

  .service-detail{
    padding-top: 100px;
    .head{
      justify-content: space-between;
      margin: 0 20px 30px 0;
      .flex{
        align-items: center;
      }
      .back{
        color:black;
        margin-right:10px;
        border-radius: 30px;
        height:50px;
        width:50px;
        display: block;
        padding: 13px 0 0 13px;
        &:hover{
          background-color: rgba(0,0,0,0.1);
        }
      }
      .service-category{
        font-size: 12px;
        color:$secondary-color;
      }
      .service-name{
        font-size: 26px;
        font-weight: bold;
       }
      .btn{
        background-color: $primary-color;
        box-shadow: none;
        padding:15px 20px;
        display: block;
        height: auto;
        margin-left:50px;
      }
      .btn-next{
        padding:15px 35px;
      }
      .service-price{
        font-size: 26px;
        font-weight: bold;
        color: $text-secondary;
      }
    }

    .service-ratings{
      padding:60px 20px 0 0;
      border-top: 1px solid $border-color;
      .service-detail-container{
        justify-content: space-between;
        .service-bookings,.service-stars{
          text-align: center;
          border:1px solid $border-color;
          padding:20px 10px;
          height:100px;
          width:200px;
          margin-left:20px;
          border-radius: 15px;
          .service-booking-number{
            font-size: 2em;
          }
          .service-rating-stars{
            margin-top:5px;
          }
        }
      }
      .service-features{
        .datepicker,.timepicker{
          background-color: rgba(0,0,0,0.1);
          border-radius: 10px;
          padding-left:10px;
          margin-left:10px;
          width:60px;
        }
        .timepicker{
          width:80px;
        }
        ul{
          margin-top:0;
          margin-left:50px;
          li{
            list-style-type: disc;
            margin-bottom:20px;
          }
        }
      }
    }

    .service-address{
      margin-top:50px;
      .add-new-address,.address-block{
        border: 1px solid $border-color;
        border-radius: 10px;
      }
      .add-new-address{
        text-align: center;
        padding:30px;
        i{
          font-size: 3em;
        }
      }
      .address-block{
        padding:0;
        margin-left:20px;
        label{
          width:100%;
          display: block;
          padding:10px;
        }
      }
      .active{
        background-color: rgba(0,0,0,0.05);
      }
    }
  }


  .services{
    padding-top:120px;
    .flex:not(.collapsible-header){
      border-bottom: 1px solid $border-color;
      margin-bottom:70px;
    }
    .flex{
      .guarantee,.discount{
        flex-basis: 25%;
        padding:30px;
        color:white;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        margin-bottom:70px;
        div:first-child{
          font-size: 14px;
        }
        div:last-child{
          font-size: 24px;
          font-weight: bold;
        }
      }
      .guarantee{
        background-color: #00BB22;
        background-image: url("../img/guarantee-bg.png");
      }
      .discount{
        margin-left:40px;
        background-color: black;
        background-image: url("../img/discount.png");
      }
    }
    .collapsible{
      -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.10);
      -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.10);
      box-shadow: 0 3px 10px 0 rgba(0,0,0,0.10);
    }
    .collapsible-header{
      align-items: center;
      padding:0;
      img{
        margin-right:20px;
      }
      i{
      margin-left:auto;
      }
    }
    .collapsible-body{
      padding:0;
      a{
        justify-content: space-between;
        display:flex;
        padding:25px;
        color:black;
        .price{
          color:$text-secondary;
          font-weight: 700;
        }
        &:hover{
          background-color: rgba(0,0,0,0.05);
        }
      }
      a:not(:first-child){
        border-top:1px solid $border-color;
      }
    }
  }

  footer{
    padding-top:50px;
    background-color: #1A181B;
    color:#8B898A;
    font-size: 14px;
    .footer-categories{
      flex-basis: 20%;
      a{
        color:#8B898A;
        display: block;
        padding:15px 0;
        &:hover{
          color:white;
        }
      }
    }
    .footer-footer{
      margin-top:20px;
      padding: 30px 0;
      border-top: 1px solid #464546;
      justify-content: space-between;
      .flex{
        align-items: center;
        a{
          padding:0 10px;
          color:#8B898A;
          img{
            height:20px;
          }
          &:hover{
            color:white;
          }
        }
        .social a{
          opacity: 0.6;
          img{height:20px;}
          &:hover{
            opacity:1;
          }
        }
      }
    }
  }

  h3{
    margin:0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  h2,h5,h4{
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  .flex{
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  body{
    nav{
      .brand-logo{
        left:40px;
        transform: none;
        img{
          height:25px;
        }
      }
      .dropdown-trigger{
        font-size: 16px;
        padding-right:10px;
      }
      #location-mobile{
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
        a{
          color:black;
        }
      }
    }
    .testimonials{
      .container{
        width:96%;
      }
      .carousel{
        height:210px !important;
        .carousel-item{
          padding:0 50px;
        }
      }
    }
    .bg{
      background-color: #F4F6F8;
      height:500px;
      background-image: none;
      h6{
        margin-top:20px;
      }
      .search-box .search-area{
        display: flex;
        input{
          border-left:0;
        }
        .show-on-small-custom{
          display: inline-block;
          font-size: 30px;
          padding-left: 15px;
          padding-top: 7px;
        }
      }
    }
    .features{
      .flex{
        flex-wrap: wrap;
        .top-col{
          flex-shrink: 0;
          flex-basis: 100%;
        }
        .top-col:nth-child(2){
          margin-top:20px;
          margin-left:0 !important;
        }
      }
    }
    .how-works{
      .container{
        padding:120px 0;
      }
      .flex.illus{
      margin:30px 0 0 0;
        flex-wrap: wrap;
        .steps{
          margin-top:10px;
          flex-basis: 48%;
          flex-shrink: 0;
        }
      }
      .steps-subtext{
        margin: 0;
      }
    }
    footer{
      .flex{
        flex-wrap: wrap;
        .footer-categories{
          flex-basis: 50%;
          flex-shrink: 0;
        }
      }
    }
    .ratings{
      .flex{
        flex-wrap: wrap;
        div{
          flex: 0 0 100%;
        }
        div:not(:first-child){
          margin-top:50px;
        }
      }
    }
    .about-us{
      .container{
        .flex{
          margin:120px 0;
          flex-wrap: wrap;
          .about-us-text{
            margin-top:50px;
            flex: 0 0 100%;
            order:2;
          }
          .about-us-img{
            order:1;
            flex:0 0 50%;
          }
        }
      }
    }

    .services {
      .flex:not(.collapsible-header) {
        flex-wrap: wrap;
        padding-bottom:30px;
        .guarantee, .discount {
          flex-basis: 100%;
          margin-left:0;
          margin-bottom:30px;
        }
      }
    }
  }
}